

<%
@page_title = @entry.title;

@category_title = "その他";
@category_title_eng = "Etc";
@category_url = "";

@category_sub_title = "";
%>




<%=render 'contents/template/brand/header_sub' %>





<div class='content'>
        <h2><%=@entry.title%></h2>

<%= raw @entry.content %>
<% if @page_title == "サイトマップ" then %>
<%=render 'contents/template/brand/block/sitemap' %>
<%end%>	


          </div>
    </section>
	
	
<%=render 'contents/template/brand/footer_sub' %>
