<!DOCTYPE html>
<html>
<head>

  
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/warehouse/style", "web-app-theme/override", :cache => false %>


	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" >google.load("jquery", "1.6.2");</script>


  <%= javascript_include_tag "rails", :cache => false %>
  <%= javascript_include_tag "application", :cache => false %>
  
  <%= csrf_meta_tag %>

  <%#<title>タグ,ページ固有のCSS/Javascript等のhead要素は下記インクルード内で指定 
  %>  
  <%= yield :head %>
  
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><%=link_to "マイページ" , favorites_path %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">

        </ul>
      </div>
	  
      <div id="main-navigation">

        <ul class="wat-cf">
        </ul>
      </div>
	  
    </div>    
	
	<%#通知メッセージ、エラーメッセージ%>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
	  <div id="main">
