
<%
@page_title = "ラーメン山岡家　XXX";
@category_title = "店舗情報";
@category_sub_title = "";
%>

<%=render 'header_menu' %>







      <!-- ページ内容はcontentに入れる -->
      <div class='content'>
        <h2>
          <%=@entry.title%>
        </h2>
        <%= raw @entry.content%>
        <img src="<%= @entry.cf.photo1%>" />
        <p class="price"><%= raw @entry.cf.price%>円</p>
        



      
      </div>
    </section>
    <!-- //section -->
 <%=render 'footer_sub' %>